.card{
    margin-left: 13px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 292px;
}

.card-link{
    text-decoration: none;
}

.card-text-omit{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card-dialog-title{
    font-size: 18px;
}