.card{
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 305px;
}

.card-link{
    text-decoration: none;
}

.card-text-omit{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card-dialog-title{
    font-size: 18px;
}