.view-row{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-between;
    min-height: 612px;
}

.view-main{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.view-page-row{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}


